requests
numpy
typing-extensions
aiohttp
aiosignal
albumentations
async-timeout
attrs
certifi
cffi
charset-normalizer
chumpy
contourpy
cycler
flatten-dict
fonttools
freetype-py
frozenlist
fsspec
idna
imageio
joblib
jpeg4py
kiwisolver
loguru
matplotlib
multidict
networkx
opencv-python
opencv-python-headless
packaging
Pillow
protobuf
pycparser
pyglet
PyOpenGL
pyparsing
pyrender
python-dateutil
PyWavelets
PyYAML
qudida
scikit-image
scikit-learn
scipy
six
smplx
threadpoolctl
tifffile
tqdm
trimesh
urllib3
yacs
yarl
tensorboard
SQLAlchemy
nest-asyncio
openai
uvicorn
pydantic
starlette
slowapi
fastapi
passlib
python-jose
mysql-connector-python
pydantic[email]
bcrypt
APScheduler
firebase-admin
pytz
numba
filterpy
kornia
git+https://github.com/mkocabas/yolov3-pytorch.git
git+https://github.com/mkocabas/multi-person-tracker.git